.main {
    user-select: none;
    margin-top: 50vh;
    text-align: center;
    background-color: #9a7650;
}

#photo {
    vertical-align: middle;
    display: inline-block;
    object-fit: contain;
    width: 50%;
    height: 200px;
}

#text {
    display: inline-block;
    color: greenyellow;
    font-size: 300%;
    font-family: "楷体";
    font-style: oblique;
}

.photo {
    animation: photo 1000ms linear infinite;
    transform-origin: center;
}

@keyframes photo {
    from {
        transform: rotate(100deg);
    }

    33% {
        transform: rotate(50deg);
    }

    66% {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(0deg);
    }
}
